#particles-js {
	-webkit-animation: fade-in 1.25s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	animation: fade-in 1.25s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.bim-contact {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	z-index: 2;
}

.bim-projects {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	z-index: 2;
}

.projects {
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #353B48;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 2vh 2%;
}

.projects .uk-card {
	background-color: #252932;
}

.projects .uk-card-title,
.projects p {
	color: #FFFFFF;
}

.projects-footer {
	background-color: #2F3640;
	padding: 6vh 0;
}

.projects-footer a {
	color: #FFFFFF;
}

.projects-header {
	-ms-flex-align: center;
	-ms-flex-direction: row;
	-ms-flex-line-pack: stretch;
	-ms-flex-pack: center;
	-ms-flex-wrap: nowrap;
	-webkit-align-content: stretch;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-webkit-box-direction: normal;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-flex-wrap: nowrap;
	-webkit-justify-content: center;
	align-content: stretch;
	align-items: center;
	background-color: #2F3640;
	color: #FFFFFF;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 5vh 0;
}

.projects-header div {
	-webkit-animation: bounce-in-right 1s both;
	animation: bounce-in-right 1s both;
}

.projects-header img {
	-webkit-animation: roll-in-blurred-left 0.75s cubic-bezier(0.23, 1, 0.32, 1) both;
	animation: roll-in-blurred-left 0.75s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.projects-header img,
.projects-header div {
	margin: 0 1%;
}

.uk-button {
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	margin: 0 1vw;
	transition: all 0.5s ease-in-out;
}

.uk-button:hover {
	background-color: #FFFFFF !important;
	border-color: transparent !important;
	color: #002D40 !important;
}

.uk-heading-small {
	color: #FFFFFF;
}

.uk-height-large {
	-ms-flex-direction: column;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	background-image: url(../img/background.jpg);
	cursor: pointer;
	flex-direction: column;
	height: 100vh;
}

.uk-height-large h1 {
	-webkit-animation: bounce-in-top 0.7s both;
	animation: bounce-in-top 0.7s both;
	font-family: 'Cabin', sans-serif;
	font-size: 2.75rem;
	font-weight: 700;
	z-index: 2;
}

hr {
	color: #FFFFFF;
	width: 25%;
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		opacity: 0;
		transform: translateX(1000px);
	}

	100% {
		-webkit-transform: translateX(0);
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		opacity: 0;
		transform: translateX(1000px);
	}

	100% {
		-webkit-transform: translateX(0);
		opacity: 1;
		transform: translateX(0);
	}
}

@-webkit-keyframes slide-in-left {
	0% {
		-webkit-transform: translateX(-1000px);
		opacity: 0;
		transform: translateX(-1000px);
	}

	100% {
		-webkit-transform: translateX(0);
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slide-in-left {
	0% {
		-webkit-transform: translateX(-1000px);
		opacity: 0;
		transform: translateX(-1000px);
	}

	100% {
		-webkit-transform: translateX(0);
		opacity: 1;
		transform: translateX(0);
	}
}

@-webkit-keyframes roll-in-blurred-left {
	0% {
		-webkit-filter: blur(50px);
		-webkit-transform: translateX(-1000px) rotate(-720deg);
		filter: blur(50px);
		opacity: 0;
		transform: translateX(-1000px) rotate(-720deg);
	}

	100% {
		-webkit-filter: blur(0);
		-webkit-transform: translateX(0) rotate(0deg);
		filter: blur(0);
		opacity: 1;
		transform: translateX(0) rotate(0deg);
	}
}

@keyframes roll-in-blurred-left {
	0% {
		-webkit-filter: blur(50px);
		-webkit-transform: translateX(-1000px) rotate(-720deg);
		filter: blur(50px);
		opacity: 0;
		transform: translateX(-1000px) rotate(-720deg);
	}

	100% {
		-webkit-filter: blur(0);
		-webkit-transform: translateX(0) rotate(0deg);
		filter: blur(0);
		opacity: 1;
		transform: translateX(0) rotate(0deg);
	}
}

@-webkit-keyframes bounce-in-right {
	0% {
		-webkit-animation-timing-function: ease-in;
		-webkit-transform: translateX(600px);
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateX(600px);
	}

	100% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateX(0);
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	38% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateX(0);
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0);
	}

	55% {
		-webkit-animation-timing-function: ease-in;
		-webkit-transform: translateX(68px);
		animation-timing-function: ease-in;
		transform: translateX(68px);
	}

	72% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateX(0);
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	81% {
		-webkit-animation-timing-function: ease-in;
		-webkit-transform: translateX(32px);
		animation-timing-function: ease-in;
		transform: translateX(32px);
	}

	90% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateX(0);
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	95% {
		-webkit-animation-timing-function: ease-in;
		-webkit-transform: translateX(8px);
		animation-timing-function: ease-in;
		transform: translateX(8px);
	}
}

@keyframes bounce-in-right {
	0% {
		-webkit-animation-timing-function: ease-in;
		-webkit-transform: translateX(600px);
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateX(600px);
	}

	100% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateX(0);
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	38% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateX(0);
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0);
	}

	55% {
		-webkit-animation-timing-function: ease-in;
		-webkit-transform: translateX(68px);
		animation-timing-function: ease-in;
		transform: translateX(68px);
	}

	72% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateX(0);
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	81% {
		-webkit-animation-timing-function: ease-in;
		-webkit-transform: translateX(32px);
		animation-timing-function: ease-in;
		transform: translateX(32px);
	}

	90% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateX(0);
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	95% {
		-webkit-animation-timing-function: ease-in;
		-webkit-transform: translateX(8px);
		animation-timing-function: ease-in;
		transform: translateX(8px);
	}
}

@-webkit-keyframes bounce-in-top {
	0% {
		-webkit-animation-timing-function: ease-in;
		-webkit-transform: translateY(-500px);
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-500px);
	}

	100% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateY(0);
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	38% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateY(0);
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		-webkit-animation-timing-function: ease-in;
		-webkit-transform: translateY(-65px);
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateY(0);
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		-webkit-animation-timing-function: ease-in;
		-webkit-transform: translateY(-28px);
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateY(0);
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		-webkit-animation-timing-function: ease-in;
		-webkit-transform: translateY(-8px);
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}
}

@keyframes bounce-in-top {
	0% {
		-webkit-animation-timing-function: ease-in;
		-webkit-transform: translateY(-500px);
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-500px);
	}

	100% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateY(0);
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	38% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateY(0);
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		-webkit-animation-timing-function: ease-in;
		-webkit-transform: translateY(-65px);
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateY(0);
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		-webkit-animation-timing-function: ease-in;
		-webkit-transform: translateY(-28px);
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateY(0);
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		-webkit-animation-timing-function: ease-in;
		-webkit-transform: translateY(-8px);
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}
}

@media only screen and (min-width: 1200px) {
	.projects {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.projects .uk-card {
		margin: 5vh 2%;
		width: 30%;
	}
}
